<!doctype html>
<html lang="ru">
<head>
   
    <meta charset="utf-8">
    <title>
        {% block title %}
            Интернет магазин "Прекрасные люди"
        {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav>
            <a href="/main/">Главная страница</a>
            <a href="/clothes/">Одежда</a>
            <a href="/shoes/">Обувь</a>
            <a href="/jacket/">Куртки</a>
        </nav>

        {%block content%}block{%endblock%}
    </div>
    <div>Все права защищены @</div>

</body>
</html>
